In [2]:
import pandas as pd

In [263]:
CSV_FILE_NAME = 'data.csv'

In [264]:
movies = pd.read_csv(CSV_FILE_NAME)

In [265]:
movies.loc[:,'Title'] = movies.loc[:,'Title'].str.strip()
# oczyszczanie kolumny 'Title' z niepotrzebnych białych znaków

In [266]:
movies['Year'] = movies['Year'].str.extract('(\d+)').astype(int)
# wyciągnięcie numeru z kolumny 'Year' i zmiana na int

In [267]:
movies['Director'] = movies['Director'].str.replace("\nDirector:\n", "")
# wyciągnięcie z kolumny 'Title' imię i nazwisko reżysera

In [273]:
def from_string_to_dict_on_cast(cast_string):
    #przetworzenie stringu na listę aktorzy i role w jednej tabeli
    #aktorzy nieparzyści, role parzyste
    cast_string = list(cast_string.replace("\n", "")
                              .strip()
                              .replace("\\n", "")
                              .replace("'", "").replace("[  ", "")
                              .replace("]", "")
                              .replace("               ...          ", ",   ")
                              .split(",   "))
    #przekonwertowanie listy na słownik aktor:rola
    cast_dict = dict(zip(cast_string[::2], cast_string[1::2]))
    return cast_dict

In [275]:
movies['Cast'] = movies['Cast'].apply(from_string_to_dict_on_cast)

,Title,Year,Director,Cast,Movie summary,Reviews
0,Ford v Ferrari,2019,James Mangold,"{'Matt Damon': 'Carroll Shelby', 'Christian Ba...",American car designer Carroll Shelby and drive...,['This is what cinema is supposed to be! Amazi...
1,Charlie's Angels,2019,Elizabeth Banks,"{'Kristen Stewart': 'Sabina Wilson', 'Naomi Sc...",When a young systems engineer blows the whistl...,['Hated it. Felt like I was being spoon fed wo...
2,Joker,2019,Todd Phillips,"{'Joaquin Phoenix': 'Arthur Fleck', 'Robert De...","In Gotham City, mentally-troubled comedian Art...","[""I was a person that saw all the hype and cla..."

In [284]:
movies['Reviews']

0    ['This is what cinema is supposed to be! Amazi...
1    ['Hated it. Felt like I was being spoon fed wo...
2    ["I was a person that saw all the hype and cla...
Name: Reviews, dtype: object

In [ ]:
#TODO: Poprawić wydobywanie recenzji i odpowiednio je przeformatować