In [44]:
import pandas as pd
import numpy as np
from datetime import date

In [45]:
INPUT_CSV_FILE_NAME = 'extracted_movies.csv'
MOVIES_DETAILS_CSV_NAME = 'movies_details.csv'
MOVIES_CAST_CSV_NAME = 'movies_cast.csv'
MOVIES_REVIEWS_CSV_NAME = 'movies_reviews.csv'
END_REVIEW_TOKEN = '$&&&&$'

In [46]:
movies = pd.read_csv(INPUT_CSV_FILE_NAME)
movies_details = movies[['Title', 'Year', 'Director', 'Movie summary']].copy()

In [47]:
movies_details.loc[:,'Title'] = movies_details.loc[:,'Title'].str.strip()
# oczyszczanie kolumny 'Title' z niepotrzebnych białych znaków

In [48]:
movies_details.loc[:,'Year'] = movies_details.loc[:,'Year'].str.extract('(\d+)').astype(int)
# wyciągnięcie numeru z kolumny 'Year' i zmiana na int

In [49]:
movies_details.loc[:,'Director'] = movies_details.loc[:,'Director'].str.replace("\nDirector:\n", "").str.replace("\nDirectors:\n", "")
# wyciągnięcie z kolumny 'Title' imię i nazwisko reżysera

In [50]:
movies_details.insert(loc = 0, column='Ranking position', value = movies_details.index + 1)
movies_details.insert(loc = 0, column='Ranking date', value = date.today())

In [51]:
movies_details

,Ranking date,Ranking position,Title,Year,Director,Movie summary
0,2019-12-05,1,The Irishman,2019,Martin Scorsese,A mob hitman recalls his possible involvement ...
1,2019-12-05,2,Frozen II,2019,"Chris Buck, Jennifer Lee","Anna, Elsa, Kristoff, Olaf and Sven leave Aren..."
2,2019-12-05,3,Knives Out,2019,Rian Johnson,A detective investigates the death of a patria...

In [8]:
movies_details.to_csv(MOVIES_DETAILS_CSV_NAME, index=False)

In [9]:
#####################################################################################

In [10]:
movies_reviews = movies.filter(['Title', 'Reviews'], axis=1)

In [11]:
def format_reviews(reviews_string):
    '''Formating reviews string and separating them to list elements.'''
    END_REVIEW_TOKEN = '$&&&&$'
    reviews_list = list(reviews_string.replace("[", "")
                                      .replace("]", "")
                                      .replace("\'", "")
                                      .replace("\\", "")
                                      .replace("\\t", "")
                                      .replace("\\s", "")
                                      .replace("\\m", "")
                                      .replace(', "', " ")
                                      .strip()
                                      .replace(END_REVIEW_TOKEN + '"', END_REVIEW_TOKEN)
                                      .split(END_REVIEW_TOKEN))
     
    del reviews_list[-1]
    return reviews_list

In [12]:
movies_reviews.loc[:,'Reviews'] = movies_reviews.loc[:,'Reviews'].apply(format_reviews)

In [57]:
def create_row_for_each_list_element(df, list_column_to_split):
    '''Creating row in dataframe for each list element.'''

    extended_df = pd.DataFrame({
                        col:np.repeat(df[col].values, df[list_column_to_split].str.len())
                        for col in df.columns.drop(list_column_to_split)
                        }).assign(**{list_column_to_split:np.concatenate(df[list_column_to_split].values)})[df.columns]
    return extended_df

In [16]:
movies_reviews = create_row_for_each_list_element(movies_reviews, 'Reviews')

In [17]:
movies_reviews.to_csv(MOVIES_REVIEWS_CSV_NAME, index=False)

In [18]:
###########################################################################################

def from_string_to_dict_on_cast(cast_string):
    '''Modifing cast string and saving results to dictionary'''
    #przetworzenie stringu na listę aktorzy i role w jednej tabeli
    #aktorzy nieparzyści, role parzyste
    cast_string = list(cast_string.replace("\n", "")
                              .strip()
                              .replace("\\n", "")
                              .replace("'", "").replace("[  ", "")
                              .replace("]", "")
                              .replace("               ...          ", ",   ")
                              .split(",   "))
    #przekonwertowanie listy na słownik aktor:rola
    cast_dict = dict(zip(cast_string[::2], cast_string[1::2]))
    return cast_dict

In [70]:
movies_cast = movies.filter(['Title', 'Cast'], axis=1)

In [71]:
def from_string_to_list_on_cast(cast_string):
    '''Modifing cast string and saving results to list'''
    #przetworzenie stringu na listę aktorzy i role w jednej tabeli
    #aktorzy nieparzyści, role parzyste
    cast_string = list(cast_string.replace("\n", "")
                              .strip()
                              .replace("\\n", "")
                              .replace("'", "").replace("[  ", "")
                              .replace("]", "")
                              .replace("               ...          ", ": ")
                              .replace(':', ",   ") # delete role names
                              .split(",   "))
    #przekonwertowanie lna liste aktor:rola
    cast_list = cast_string
    return cast_list

In [72]:
movies_cast.loc[:,'Cast'] = movies_cast.loc[:,'Cast'].apply(from_string_to_list_on_cast)

In [73]:
movies_cast = create_row_for_each_list_element(movies_cast, 'Cast')

In [74]:
movies_cast

            Title                                               Cast
0   The Irishman                                      Robert De Niro
1   The Irishman                                       Frank Sheeran
2   The Irishman                                           Al Pacino
3   The Irishman                                         Jimmy Hoffa
4   The Irishman                                           Joe Pesci
5   The Irishman                                    Russell Bufalino
6      Frozen II                                        Kristen Bell
7      Frozen II    Anna       (voice)
8      Frozen II                                        Idina Menzel
9      Frozen II    Elsa       (voice)
10     Frozen II                                            Josh Gad
11     Frozen II    Olaf       (voice)
12    Knives Out                                        Daniel Craig
13    Knives Out                                        Benoit Blanc
14    Knives Out                                         Chris Evans
15    Knives Out                                     Ransom Drysdale
16    Knives Out                                        Ana de Armas
17    Knives Out                                       Marta Cabrera

In [59]:
movies_cast.to_csv(MOVIES_CAST_CSV_NAME, index=False)